{% load crispy_forms_tags %}
{# Add product item form #}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add product item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="add_product_item_form" method="post" action="">
      <div class="modal-body">
          {% csrf_token %}
          {{ form|crispy }}
      </div>
      <div class="modal-footer">
        <input type="submit" value="Apply" class="btn btn-primary"/>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
      </form>
    </div>
  </div>
