<div class="row my-1{% if item.purchased %} done{% endif %}">
  <div class="col-md-1">

    <input
            class="form-check-input"
            type="checkbox" {% if item.purchased %}checked{% endif %}
            value=""
            id="item_{{ item.pk }}"
            aria-label="..."
    />

  </div>
  <div class="col-md-3">
    <p class="lead fw-normal mb-0">{{ item.product.name }}</p>
  </div>
  <div class="col-md-2">
    <p class="lead fs-6 mb-0">{{ item.amount|floatformat:"-1" }} {{ item.product.unit.short_name }}</p>
  </div>
  <div class="col-md-3">
    <p class="lead fs-6 mb-0">{{ item.comment }}</p>
  </div>
  <div class="col-md-2">
    {% if item.due_date %}
      <p class="lead fs-6 mb-0">{{ item.due_date|date:"d-m-Y" }}</p>
    {% endif %}
  </div>

  <div class="col-md-1">
    <div class="d-flex flex-row justify-content-end mb-1">
      <a href="#" data-title="{{ item.product.name }}" data-form="{% url 'foodlist:edit_tobuy' pk=item.pk %}"
         class="text-info edit" data-mdb-toggle="tooltip" title="Edit todo"><i class="fas fa-pencil-alt me-3"></i></a>
      <a href="#" data-title="{{ item.product.name }}" data-form="{% url 'foodlist:delete_tobuy' pk=item.pk %}"
         class="text-danger del" data-mdb-toggle="tooltip" title="Delete todo"><i class="fas fa-trash-alt"></i></a>
    </div>
  </div>
</div>
